<h1>Admin::Dashboard#show</h1>
<div class="well">
  <h3> 
    Number of Products registered: <%= @products.count %>
  </h3>
  <p></p>
  <h3>
    Number of Category registered: <%= @category.count %>
  </h3>
  <p></p>
</div>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
